.places__paragraphs {
  margin: 0;
  display: block;
  max-width: 484px;
}

@media screen and (max-width: 1152px) {
  .places__paragraphs {
    max-width: 456px;
  }
}

@media screen and (max-width: 991px) {
  .places__paragraphs {
    max-width: 352px;
  }
}

@media screen and (max-width: 568px) {
  .places__paragraphs {
    max-width: 288px;
    padding: 0 16px;
  }
}
