.header {
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}

@media screen and (max-width: 991px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    min-height: 42px;
    padding: 0 16px;
  }
}
