.header__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 18px;
}

.header__link:last-child {
  margin-right: 0;
}
